body
{
    margin: 0;
    padding: 0;
}
.login-container
{
    background-image: url('img/netflixbackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    margin-top: 0;
    width: 100%;
}
.login-container .navbar img
{
    width: 180px;
    height: 55px;
    margin-left: 50px;
    margin-top: 22px;
    z-index: 2;
    position: absolute;
}
.login-container::after
{
      content:'';
      background-color: rgba(0, 0, 0, 0.6);
      position: absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      z-index:1;
}
/* login container*/
.login-container
{
    position: absolute;
    z-index: 2;
}
.login
{
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5rem;
    width: 20%;
    gap: 10px;
    color: gray;
    border-radius: 5px;
}
.login-pannel
{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 100vh;
}
.signin-text
{
    color: white;
}
.checkbox-container
{
    display: flex;
    justify-content: space-between;
    color: white;
    margin-top: -1rem;
}
.input
{
    height: 40px;
    padding-left:15px ;
    border-radius: 5px;
    outline: none;
    border: none;
}
.checkbox-container
{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.login button
{
    background-color:  #e50914;
    height: 40px;
    color: white;
    cursor: pointer;
}
.signup-container
{
    display: flex;
    gap: 4px;
    align-items: center;
}
.signuplink
{
    color: white;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
}
.login-descript span
{
    color: blue;
    cursor: pointer;
}
@media(max-width:1000px)
{
    .login
    {
        position: absolute;
        z-index: 2;
        display: flex;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 1.8rem;
        width: 50%;
        gap: 10px;
        color: gray;
        font-size: 14px;
    }
    .signin-text
    {
        font-size: 20px;
    }
    .login-container .navbar img
    {
        width: 100px;
        height: 35px;
        margin-left: 20px;
        margin-top: 12px;
        z-index: 2;
        position: absolute;
    }
    .signuplink
    {
        font-size: 14px;
    }
    
}